:root {
  --text: #000000;
  --link: #3D377F;
  --background: #FFF3CA;
  --box: #ECD584;
  --button: #6B65A4;
  --button-text: #FFFFFF;
  --button-hover: #B0ADD2;
}

body {
  font-family: sans-serif;
  background: var(--background);
  color: var(--text);
}

button, #image-list-ol li {
  cursor: pointer;
}

header {
  text-align: center;
}

a {
  color: var(--link);
}

main {
  width: 700px; /* adjust depending on image size */
  margin: auto;
  background: var(--box);
  padding: 15px;
}

h2 {
  margin-top: 5px;
}

#image {
  text-align: center;
}

#controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

#controls button {
  background: var(--button);
  border: 0;
  padding: 10px;
  border-radius: 5px;
  color: var(--button-text);
}

#controls button:hover {
  background: var(--button-hover);
}

.archive-link {
  color: var(--link);
  text-decoration: underline;
}

.active {
  font-weight: bold;
}
